
body {
  --background-color: white;
  --foreground-color: black;
  --title-color: maroon;
  --alt-background-color: lightgoldenrodyellow;
}
body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}

a#logout-button:link, a#logout-button:visited, a#logout-button:hover, a#logout-button:active{
  color: var(--foreground-color);
  text-decoration: none;
}

.credits {
  bottom: 1rem;
  left: 1rem;
  position: fixed;
  font-size: 0.9rem;
  color: var(--foreground-color);
}
.credits-title {
  font-weight: bold;
}

@media (max-width: 520px) {
  body {
    --main-top-pad: 0px;
    --main-width: 100%;  
  }

  .application-title {
    color: var(--title-color);
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.85;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  .application-logo {
    width: 100px;
    position: absolute;
    top: 0;
    left: calc(calc(100% - 100px) / 2);
  }

}
@media (min-width: 521px) {
  body {
    --main-top-pad: 25px;
    --main-width: 500px;  
  }

  .application-title {
    color: var(--title-color);
    font-size: 4rem;
    font-weight: bold;
    left: calc(calc(calc(100% - 500px) / 2) - 11rem);
    opacity: 0.85;
    position: fixed;
    top: calc(calc(100% - 274px) / 2.75);
    transform: rotate(-90deg);
  }
  
  .application-logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  #login, #view {
    left: calc(calc(calc(100% - 500px) / 2) + 3rem);
    position: fixed;
    width: calc(500px - 6rem);
  }
}

.hidden {
  display: none;
}

#login {
  margin: 1rem;
  padding: 1rem;
  color: white;
}
#view {
  margin: 0;
  padding: 1rem;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 1rem;
}
.input .title {
  display: inline-block;
  width: 35%;
}
.input input {
  font-size: 1.2rem;
  width: 98%;
}

button {
  background-color: silver;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;

}
button:hover {
  cursor: pointer;
}
button.default {
  background-color: blue;
  color: white;
}
button.default:not(.wide) {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}
button.default.wide {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.input input {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.user {
  
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  border-bottom: 2px solid var(--title-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.user-image {
  border: 3px solid var(--title-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: inline-block;
}

.user-image #user-image {
  width: 100%;
  height: auto;
}

.welcome {
  margin-left: 1rem;
}
.calendar {
  text-align: right;
}

.calendar-image {
  width: 3rem;
}

#items-list, #services-list {
  border-bottom: 2px solid var(--title-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  align-items: center;
  margin-bottom: 0.5rem;
}
.companies-title, .services-title, .items-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
#companies-list {
  margin-left: 1rem;
}
.company-image {
  height: 2rem;
}
.company-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  margin-bottom: 0.5rem;
}

.service select {
  border: 1px solid silver;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.wizard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
}
.wizard .content {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.company-service {
  padding: 1rem;
}
.company-service .cancel {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: right;
}
.company-service .title {
  margin-bottom: 0.25rem;
}

.company-service button {
  margin-top: 1rem;
}

.frequency, .single {
  margin-top: 1rem;
}
button.selection {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
  margin-top: 0.25rem;
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: green;
  color: white;
}

.scheduled-recurring, .scheduled-single {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.scheduled-recurring #remove-scheduled,
.scheduled-single #remove-scheduled {
  float: right;
}
