
body {
  --background-color: white;
  --foreground-color: black;
  --title-color: maroon;
  --alt-background-color: lightgoldenrodyellow;
}
body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 520px) {
  body {
    --main-top-pad: 0px;
    --main-width: 100%;  
  }

  .application-title {
    color: var(--title-color);
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.65;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
  }

}
@media (min-width: 521px) {
  body {
    --main-top-pad: 25px;
    --main-width: 500px;  
  }

  .application-title {
    color: var(--title-color);
    font-size: 4rem;
    font-weight: bold;
    left: calc(calc(calc(100% - 500px) / 2) - 11rem);
    opacity: 0.65;
    position: fixed;
    top: calc(calc(100% - 274px) / 2.75);
    transform: rotate(-90deg);
  }

  #login, #view {
    left: calc(calc(calc(100% - 500px) / 2) + 3rem);
    position: fixed;
    width: calc(500px - 6rem);
  }
}

.hidden {
  display: none;
}

#login {
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
}
#view {
  margin: 0;
  padding: 1rem;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 1rem;
}
.input .title {
  display: inline-block;
  width: 35%;
}
.input input {
  font-size: 1.2rem;
  width: 58%;
}

button {
  background-color: silver;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}
button:hover {
  cursor: pointer;
}
button.default {
  background-color: blue;
  color: white;
}

.user {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  border-bottom: 2px solid var(--title-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.user-image {
  border: 3px solid var(--title-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: inline-block;
}

.user-image #user-image {
  width: 100%;
  height: auto;
}

.welcome {
  margin-left: 1rem;
}
.calendar {
  text-align: right;
}

.calendar-image {
  width: 3rem;
}

#items-list {
  border-bottom: 2px solid var(--title-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  align-items: center;
  margin-bottom: 0.5rem;
}
.services-title {
  margin-bottom: 1rem;
}
#services-list {
  margin-left: 1rem;
}
.service-image {
  height: 2rem;
}
.service-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  margin-bottom: 0.5rem;
}