<div class="company-service">
  <a href="#" id="wizard-cancel" class="cancel">X</a>
  <div class="title">Service: ~~SERVICE~~</div>
  <div class="title">From: ~~COMPANY~~</div>
  <div class="title">Cost: ~~COST~~</div>

  <div class="frequency ~~FREQUENCY_HIDDEN~~">
    <span class="date">Start Date: 01 Oct 2019</span>
    <button class="selection">Change Start Date</button>

    <span class="date">End Date: 31 Dec 2019</span>
    <button class="selection">Change End Date</button>
  </div>
  <div class="single ~~SINGLE_HIDDEN~~">
    <span class="date">Date: 01 Dec 2019</span>
    <button class="selection">Change Date</button>

    <span class="date">Time: 1:00 pm</span>
    <button class="selection">Change Time</button>
  </div>

  <button id="wizard-schedule" class="default wide">Schedule</button>
</div>